{{define "footer"}}
    <footer class="footer">
        <div class="container">
            <p>Copyright &copy; 2019.alisleepy - 备案信息：<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">晋ICP备17005957号</a></p>
        </div>
        <div id="gotop"><a class="gotop" onclick="gotop()"></a></div>
    </footer>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.ias.js"></script>
    {{/*<script src="/static/js/scripts.js"></script>*/}}
{{end}}