<!doctype html>
<html lang="zh-CN">
<!--放head信息 start-->
{{template "head" .}}
<!--放head信息 end-->
<body class="user-select">
	<!--放header导航栏信息 start-->
	{{template "header"}}
	<!--放header导航栏信息 end-->
    <!--当前页码-->
    <input type="hidden" id="curpage" value="{{.curpage}}">
    <!--当前分类ID-->
    <input type="hidden" id="catId" value="{{.catId}}">
    <!--当前标签ID-->
    <input type="hidden" id="lId" value="{{.lId}}">
	<!--关键词，搜搜内容-->
	<input type="hidden" id="keywords" value="{{.keywords}}">
	<!--中间主体部分 start-->
	<section class="container">
		<div class="content-wrap">
			<div class="content">
				<!--滚动图 start-->
				<div id="focusslide" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<a href="#" target="_blank" title="木庄网络博客源码" >
								<img src="/static/images/201610181557196870.jpg" alt="木庄网络博客源码" class="img-responsive">
							</a>
						</div>
					</div>
				</div>
				<!--滚动图 end-->
				<!--推荐单篇文章-->
				<div id="topBlogs">
					<!--异步获取置顶文章-->
				</div>
				<div class="title">
					<h3>分类</h3>
					<div id="categorys" class="more">

					</div>
				</div>
				<!--文章列表 start-->
				<div id="blogs">

				</div>
				<!--文章列表 end-->
				<nav class="pagination" style="display: block;">
					<ul>
						<li><a id="getmoreblog_a" href="javascript:void(0);" onclick="getMoreBlogs()">点击加载更多</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<aside class="sidebar">
			<div class="fixed">
				<div class="widget widget-tabs">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab" data-toggle="tab" >统计信息</a></li>
						<li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab" >联系站长</a></li>
					</ul>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane contact active" id="notice">
							<h2>文章总数: <span id="blogNum"></span>篇</h2>
							<!--后期增加当天天气信息-->
							<h2>浏览次数：<span id="viewNum"></span>次</h2>
						</div>
						<div role="tabpanel" class="tab-pane contact" id="contact">
							<h2>QQ：<a href="" rel="nofollow" data-toggle="tooltip" data-placement="bottom" title=""><span id="user_qq"></span></a>
							</h2>
							<h2>Email：<a href="" data-toggle="tooltip" rel="nofollow" data-placement="bottom" title=""><span id="user_email" style="font-family: auto;"></span></a></h2>
						</div>
					</div>
				</div>
				<div class="widget widget_search">
					<form class="navbar-form" action="/Search" method="post">
						<div class="input-group">
							<input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off">
							<span class="input-group-btn">
								<button class="btn btn-default btn-search" name="search" type="submit">搜索</button>
							</span>
						</div>
					</form>
				</div>
			</div>
			<div class="widget widget_hot">
				<h3>点击排行榜</h3>
				<ul id="topViewBlos">
					<!--阅读数排行榜-->

				</ul>
			</div>
			<div id="friendlyUrl" class="widget widget_sentence">
				<h3>友情链接</h3>
			</div>
		</aside>
	</section>
	<!--中间主体部分 end-->
	<!--footer部分 start-->
	{{template "footer"}}
	<!--footer部分 end-->
</body>
<script src="/static/js/common.js"></script>
<script src="/static/js/index.js"></script>
</html>
